<!DOCTYPE HTML>

<html>
	<head>
		<title>BK resume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main1.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<link rel="icon" href="{% static 'images/fevicon.ico' %}">
	</head>
	<body class="is-preload">
		<div>
			<!-- Header1 -->
			<header id="header1">
				<div>
					<!-- Nav -->
						<nav>
							<ul>
								<li><a href="#menu">Menu</a></li>
							</ul>
						</nav>
				</div>
			</header>
		<!-- Menu -->
			<nav id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<!-- <li><a href="index1.html">Learn_more</a></li> -->
					<li><a href="/index2">CONTACT_ME</a></li>
					<li><a href="/index3">Calling</a></li>
					<li><a href="#"></a></li>
				</ul>
			</nav>
		</div>





		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Bhagwat Kamble</h1>
						<p>Python Developer &nbsp;&bull;&nbsp; Electronics Engineer &nbsp;&bull;&nbsp; Web Developer</p>
						<nav>
							<ul>
								<li><h1>7</h1></li>
								<li><h1>5</h1></li>
								<li><h1>0</h1></li>
								<li><h1>7</h1></li>
								<li><h1>7</h1></li>
								<li><h1>8</h1></li>
								<li><h1>4</h1></li>
								<li><h1>0</h1></li>
								<li><h1>0</h1></li>
								<li><h1>6</h1></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span>🏠 Pune, Maharashtra <a href="index2.html">📞 Contact</a>.🎢</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>

		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main1.js' %}"></script>
	</body>
</html>