<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>BK Resume</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets\css\main.css' %}" />
		<link rel="icon" href="{% static 'images/fevicon.ico'%}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% static 'images/avatar.png' %}" class="image avatar"><img src="{% static 'images/avatar.png' %}" alt="" /></a>
					<h1><strong>I am Bhagwat Kamble</strong>,<br /> a Python programmer,<br />
					Completed BE <br />
					From Dietms College Aurangabad <a href="http://dietms.org">Dietms.org</a>.</h1>
				</div>
			</header>

			<div>
				<!-- Header1 -->
				<header id="header1">
					<div>
						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>
					</div>
				</header>
			<!-- Menu -->
				<nav id="menu">
					<h1>Menu</h1>
					<ul>
						<li><a href="/">Home</a></li>
						<!-- <li><a href="index1.html">Learn_more</a></li> -->
						<li><a href="/index2">CONTACT_ME</a></li>
						<li><a href="/index3">Calling</a></li>
						<li><a href="#"></a></li>
					</ul>
				</nav>
			</div>


		<!-- Main -->
			<div id="main">

					<!-- One -->
					<section id="one">
						<header class="major">
							<div align="right">
							<a href="https://www.hackerrank.com/bhagwat25021996?badge=python&stars=5&level=3&hr_r=1&utm_campaign=social-buttons&utm_medium=linkedin&utm_source=badge_share_profile&social=linkedin"
							><img src="{% static 'images\python_badge.png' %}" width="160" height="80"><br />Gold-Level, HackerRank</a><br />
							</div>
							<h2>Open to Work,<br />
								Work on Big Ideas.</h2>
						</header>
						<p>Analytical, motivated and hard-working Python developer with designing, debugging and troubleshooting programs using Framework and Python coding languages. Hoping to use my advanced development skills to build and enhance applications and projects for the industry.</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</section>

					<!-- Education -->
					<h2>Education</h2>
					<table cellspacing="10">
						<tr>
							<td rowspan="5" style="vertical-align: top"><p></p><img src="{% static 'images/deogiri_symbol.png' %}" width="80" height="60"></td>
						</tr>
						<tr>
							<td>
								<h3>Deogiri Institute of Engineering and Management Studies, Aurangabad</h3>
							</td>
						</tr>
						<tr>
							<td>Bachelor of Engineering - BE, Electronics and Communications Engineering</td>
						</tr>
						<tr>
							<td>2016 - 2020</td>
						</tr>
						<tr>
							<td>From Dr. Babasaheb Ambedkar Marathwada University Aurangabad</td>
						</tr>
					</table>
					<table cellspacing="10">
						<tr>
							<td rowspan="5" style="vertical-align: top"><p></p><img src="{% static 'images/mss.png' %}" width="80" height="80"></td>
						</tr>
						<tr>
							<td>
								<h3>Matsyodari Shikshan Santhan’s Science College, Jalna</h3>
							</td>
						</tr>
						<tr>
							<td>HSC, Mathematics</td>
						</tr>
						<tr>
							<td>2014 - 2015</td>
						</tr>
						<tr>
							<td>Maharashtra State Board</td>
						</tr>
					</table>
					<table cellspacing="10">
						<tr>
							<td rowspan="5" style="vertical-align: top"><p></p><img src="{% static 'images/Jijamata.png' %}" width="80" height="70"></td>
						</tr>
						<tr>
							<td>
								<h3>Jijamata Madhyamic Vidhylay Bhatepuri, Jalna</h3>
							</td>
						</tr>
						<tr>
							<td>SSC</td>
						</tr>
						<tr>
							<td>2012 - 2013</td>
						</tr>
						<tr>
							<td>Maharashtra State Board</td>
						</tr>
					</table>

					<!-- Two -->
					<section id="two">
						<h2>Certifications</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/01.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/01.jpg' %}" alt="" /></a>
								<h3><a href="https://ude.my/UC-6cf5fef7-0918-482d-a134-562ed3a3f430">Python Programmer</a></h3>
								<p>Covered falsk, django, smtp, pandas, scripting.....</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/02.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/02.jpg' %}" alt="" /></a>
								<h3><a href="https://ude.my/UC-db9b5b48-57bf-49b4-8145-64deba56414c">C Programmer</a></h3>
								<p>practically performed</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images\fulls\hackerrank.png' %}" class="image fit thumb"><img src="{% static 'images\thumbs\hackerrank.png' %}" alt="" /></a>
								<h3><a href="https://www.hackerrank.com/certificates/27bfafeaa784">Python Basic Programmer</a></h3>
								<p>cleared first attempt</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/04.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/04.jpg' %}" alt="" /></a>
								<h3><a href="https://drive.google.com/file/d/12shCLBRilOBs1Ttbi7rGuj7kXmtOE0fI/view?usp=drivesdk">Personality improvement</a></h3>
								<p>learning on tcs ion hub</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/05.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/05.jpg' %}" alt="" /></a>
								<h3><a href="https://drive.google.com/file/d/12sucPoA14HerA18XeWy1Nu7qz6_1KipR/view?usp=drivesdk">Electronics Workshop</a></h3>
								<p>Deep understanding on electronics</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/06.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/06.jpg' %}" alt="" /></a>
								<h3><a href="https://drive.google.com/file/d/18ibph1sh2d1tu7ta4a3cfkN2JQi6MZkx/view">TCS NQT score card</a></h3>
								<p>Using C programming</p>
							</article>


							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images\fulls\typing_certificate.jpg' %}" class="image fit thumb"><img src="{% static 'images\thumbs\typing_certificate.jpg' %}" alt="" /></a>
								<h3><a href="https://www.typing.com/student/verify#218027716-139181700">Typing Certificate</a></h3>
								<p>Typing speed: 46 WPM, with 97% accuracy</p>
							</article>


							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/07.jpg' %}" class="image fit thumb"><img src="{% static 'images/thumbs/07.jpg' %}" alt="" /></a>
								<h3><a href="https://drive.google.com/file/d/12tUE6hvELDApgHEGTedfTw7qQ4OnlPVX/view">Green Army</a></h3>
								<p>Connected to environment</p>
							</article>
						</div>

						<hr>

						<section id="two">
							<h2>Work Experience</h2>
							<div class="row">
								<article class="col-6 col-12-xsmall work-item">
									<a href="{% static 'images\fulls\08.jpg' %}" class="image fit thumb"><img src="{% static 'images\thumbs\08.jpg' %}" alt="" /></a>
									<h3>Working as Service engineer</h3>
								</article>
									<p><h4>Working with Private Business "Perfect Refillers" which is Business of Providing Xerox machines and printers to the companies and hospitals on contract basis.</h4> <br />
										<h5>📌 Working on both, field and office <br />
										📌 Refilling and repairing of toner cartridges <br />
										📌 Repairing and servicing of Xerox machines and printers <br />
										📌 Solving troubleshooting problems <br />
										📌 Sharing Xerox machines, printers on server of company <br />
										📌 Covered 20+ companies and hospitals in Aurangabad <br />
										📌 Working on both hardware and software</p>
									</h5>
									<p></p>
							</>
<!-- 							<ul class="actions">
								<li><a href="https://bk1perfect.github.io/learn_more/" class="button">More_About</a></li>
							</ul> -->
						</section>
					</section>

					<!-- Experience -->


				<!-- Skills -->
				<section>
					<h2>Skills</h2>
					<div class="row">
						<article class="col-6 col-12-xsmall work-item">
							<table>
								<tr>
									<td rowspan="12" width="60px"></td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Python Programming</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Python Libraries</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Django</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>C Programming</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>HTML5</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>CSS3</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Github</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Critical Thinking</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Problem Solving</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>SQL</td>
								</tr>
								<tr>
									<td>➡️</td>
									<td>Microsoft Visual Studio</td>
								</tr>
							</table>
						</article>
					</div>
					<!-- <ul class="actions">
						<li><a href="" class="button">Full Portfolio</a></li>
					</ul> -->
				</section>

				<!-- Three -->
				<section id="">
					<h2>Get In Touch</h2>
					<p>its all right</p>
					<div class="row">
						<div class="col-8 col-12-small">
							<form method="post" action="mailto:bhagwat25021996@gmail.com" enctype="text/plain">
								<div class="row gtr-uniform gtr-50">
									<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
									<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
									<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
								</div>
								<br>
								<div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</div>
							</form>
						</div>
						<div class="col-4 col-12-small">
							<ul class="labeled-icons">
								<li>
									<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
									Vinayak park,<br> Ganapati temple,<br/>
									Awhalwadi road,<br>
									Wagholi, Pune-412207<br />
									India
								</li>
								<li>
									<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
									75077-84006
								</li>
								<li>
									<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
									<a href="mailto:bk1.perfect@gmail.com">BK</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
		</div>

	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="/index2" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="/index2" class="icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="/index2" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="/index2" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li><a href="http://apna.co/bhagwat-kamble-5">➡️Perfect</a></li>
				</ul>
				<ul class="copyright">
					<li><a class="btn" href="index2.html">CONTACT_ME</a></li>
				</ul>
			</div>	
		</footer>

		<a class="cd-top hidden-sm cd-is-visible" href="#0">Top</a>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="{% static 'assets/js/main1.js' %}"></script>
</body>
</html>
